* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
}

/* nav */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 0 50px;
  background-color: #0a192f;
}

.nav_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  text-decoration: none;
  color: #64ffda;
}

.nav_links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav_links a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

main {
  margin-top: 70px;
}

.nav_links a:hover {
  color: #64ffda;
}

/* hero section */
.hero {
  background-color: #0a192f; 
  min-height: 650px;      
  display: flex;          
  align-items: center;    
  justify-content: center;   
}

.hero_container {
  display: flex;             
  align-items: center;     
  justify-content: space-between; 
  width: 100%;               
  max-width: 1100px;     
  min-width: 1000px;   
  padding: 0 50px;           
  gap: 60px;                
}


.hero_text_content {
  flex: 1; 
}

.hero_greeting {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;

}

.hero_name {
  color: #64ffda; 
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 10px;
}

.hero_hope {
  font-size: 50px;
  font-weight: 700;
  color: #8892b0; 
  margin-bottom: 30px;
}

.hero_description {
  font-size: 18px;
  color: #8892b0;
  line-height: 1.6;
}

.hero_image_content {
  flex: 1; 
  display: flex;
  justify-content: center;
}

.hero_image_content img {
  width: 320px;          
  height: 320px;
  object-fit: cover;     
  border-radius: 20px;   
  box-shadow: 15px 15px 0px rgba(100, 255, 218, 0.2); 
  border: 2px solid #64ffda;
}


/* projects section */
.projects {
  min-height: 750px;
}

.title {
  color: #8892b0;
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}

.card_container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  text-align: center;
}

.card_img {
  width: 320px;          
  height: 320px;
  object-fit: cover;     
  border-radius: 20px;   
  box-shadow: 15px 15px 0px rgba(255, 255, 255, 0.2); 
  border: 2px solid white;
  margin-bottom: 50px;
}

.card_title {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

.card_btn {
  padding: 10px 30px;
  font-size: 20px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: #0a192f;;
}
.go {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #8892b0;
}
.go:hover {
  color: #64ffda;
}